table{
    border: 2px solid black;
    border-collapse: collapse;
}

td{
    border: 2px solid black;
    border-collapse: collapse;
    height: 35px;
    width: 120px;
    text-align: center;
}

.Encabezado{
    border-color: white;
    color: white;
    background-color: #6b96ec;
}

.Provincia{
    border-color: white;
    color: #f3f739;
    background-color: #6b96ec;
}

.datos{
    background-color: #e98d64;
}