div{
    float: left;
}

.box{
    border: 2px solid green;
}

p{
    border: 2px solid black;
    height: 1000px;
    width: 1000px;
    top: 100px;
    left: 100px;
}

#fijo{
    position: fixed !important;
    background-color: black;
}