header {
    background-color: aqua;
}

nav {
    background-image: url(nav.png);
}

ul{
    color: white;
    list-style: georgian;
}


section {
    background-image: url(tocho.png);
}

footer {
    background-image: url(footer.png);
    color: white;
    border-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}