header {
    position: absolute; 
    top: 2%;
    left: 2%;
    height: 10%;
    width: 93%;
}

nav {
    position: absolute; 
    top: 13%;
    left: 2%;
    width: 25%;
    height: 75%;    
}


section {
    position: absolute; 
    top: 13%;
    left: 30%;
    width: 65%;
    height: 75%;
}

footer {
    position: absolute; 
    top: 89%;
    left: 30%;
    height: 10%;
    width: 65%;
}

header, section, nav, footer { 
    border: solid;
}

#imagen{
    float: right;
    width: 11%;
}

img#mi_foto{
    width: 100%;
}