*{
    background-color: rgb(143, 192, 238);
}

h1{
    text-align: right;
}

.comic{
    font-family: com;
}

.txt_decor{
    line-height: 150%;
    margin-bottom: 2%;
    text-indent: 5%;
}

strong{
    color: red;
}