body{
    background-color: bisque;
}

#lista_1 li{
    display:inline;
    float:left;
    padding:0 10px;  
    background-color: antiquewhite;
}

#lista_2 li{
    display:inline;
    float:left;
    padding:0 10px;
    background-color: rgb(202, 255, 237);
    border: 2px dashed rgb(179, 0, 179);
    color: rgb(179, 0, 179);
    margin-left: 10px;
    text-align: center;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#lista_3 li{
    display:inline;
    float:left;
    padding:0 10px;
    text-align: center;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#lista_4 li{
    text-align: center;
    width: 130px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    display:inline;
    float:left;
    padding:0 10px;
}

.d{
    background-color: rgb(134, 221, 255);
    border-top: black solid;
    border-bottom: black solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.c{
    border-top: black solid;
    border-bottom: black solid;
}

#izquierda{
    border-left: black solid;
}

#derecha{
    border-right: black solid;
}

.a{
    background-color: white;
    color: blue;
}

.b{
    background-color: blue;
    color: white;
}

#lista_5 li{
    text-align: center;
    display:inline;
    float:left;
    padding:10px;
}

#pos1{
    border-left: black solid 1px;
    border-bottom: black solid 1px;
}

#pos2{
    border-top: black solid 1px;
    border-left: black solid 1px;
    border-right: black solid 1px;
}

#pos3{
    border-bottom: black solid 1px;
}

#pos4{
    border-top: black solid 1px;
    border-left: black solid 1px;
    border-right: black solid 1px;
}

#pos5{
    border-right: black solid 1px;
    border-bottom: black solid 1px;
}

#lista_6 li{
    display:inline;
    padding:10px;
}

.separador{
    border-left: black solid 1px;
    border-right: black solid 1px;
}

#lista_7 li{
    list-style: none;
    background-color: rgb(255, 243, 228);
    width: 130px;
    height: 20px;
    margin-top: 5px;
}

#lista_8{
    border: black solid 1px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

#lista_8 li{
    list-style: none;
    background-color: rgb(255, 243, 228);
    width: 130px;
    height: 20px;
    margin-top: 5px;
    border: black solid 1px;
    text-align: center;
    padding: 2px;
}