h1{
    text-align: right;
    letter-spacing: 10px;
    text-decoration: dashed 7px underline blue;
}

fieldset{
    border: dashed 4px blue;
    padding: 20px;
}

legend{
    color: white;
    background-color: blue;
    size: 40px;
    letter-spacing: 4px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.tit{
    text-decoration: underline;
    display: inline-block;
    margin-left: 15px;
}

input[type="number"]{
    width: 40px;
}

div.edad{
    display: inline-block;
    margin-bottom: 10px;
}

div.habitaciones{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 10px;
}

div.sex{
    float: left;
    margin-bottom: 10px;
}

div.tele{
    display: inline-block;
    margin-bottom: 10px;
    width: 330px;
}

div.cajas{
    margin-left: 10px;
    margin-top: 5px;
}

input[type=checkbox]{
    margin-right: 25px;
}